
APP_PORT=

MONGO_URL=

SECRET_KEY=

EXPIRE_TIME=

REFRESH_TOKEN_SECRET_KEY=

REFRESH_TOKEN_EXPIRE_TIME=

GOOGLE_APP_PASSWORD=''

GOOGLE_ACC_USER=''

# SIGN_URL
SIGN_URL_SECRET=

BASE_URL=

# SMS (Eskiz)
SMS_LOGIN=''
SMS_PASSWORD=''