<h1>Reset password</h1>


<form action="/api/reset-password?userId={{userId}}&signed={{signed}}" method="post">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Submit</button>
</form>
<p>{{error}}</p> 


